.die {
    font-size: 28px;
    margin: 5px;
}

.dice-container {
    display: flex;
}

.plane {
    position: absolute;
    width: 700px;
    height: 700px;
    left: 0;
    top: 0;
}

.item-card {
    /* display: inline-block; */
    height: 285px;
    background-color: red;
    /* margin-bottom: 10px; */
}

.item-drop-area {
    width: 936px;
    height: 253px;
    display: flex;
}

.title {
    margin: 0 318px 0 152px;
}

.name {
  margin-right: 5px;  
}

.discard {
    left: 748px;
    position: absolute;
    text-align: center;
}

.playing-cards {
    display: flex;
}

.playing-container {
    position: absolute;
    left: 0;
    top: 700px;
}

.game {
    margin-left: 245px
}

.other-players-container {
    /* display: flex;
    flex-direction: column; */
}