.item-container {
    display: inline-block;
    border: 1px solid black;
    margin: 5px;
    background-color: beige;
    width: 100px;
    height: 100px;
}

.item {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}